.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    list-style: none;
    margin: 0;
    padding: 0;
}

.gallery-item {
    flex-basis: 100%;
    margin-bottom: 5px;
}

.gallery-image {
    display: block;
    width: 100%;
    height: auto;
    cursor: pointer;
    transition: all 0.3s ease;
}


  .gallery-image:hover {
    outline: 2px solid violet;
    box-shadow: 0px 0px 10px violet;
  }


@media (min-width: 769px) and (max-width: 1024px) {
    .gallery {
        gap: 10px;
    }

    .gallery-item {
        flex-basis: calc(50% - 10px);
        margin-bottom: 10px;
    }
}


@media (min-width: 1025px) {
    .gallery {
        gap: 10px;
    }

    .gallery-item {
        flex-basis: calc(33.333% - 10px);
        margin-bottom: 10px;
    }
}